@charset "UTF-8";
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

li,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #5e5e5e;
}

.header {
  font-family: "Roboto", sans-serif;
}

.header__top {
  background-color: #303030;
}

.header__btn {
  float: right;
  font-size: 16px;
  line-height: 36px;
  font-weight: 400;
  color: #1b1b1b;
  background-color: #ffc222;
  padding: 5px 20px 4px 50px;
  position: relative;
}

.header__btn::before {
  font-family: "icomoon";
  content: "";
  position: absolute;
  left: 22px;
  color: #1b1b1b;
}

.header__contacts::after {
  content: "";
  clear: both;
  display: block;
}

.header__phone,
.header__email {
  line-height: 24px;
  letter-spacing: 0.025px;
  color: #d3d2d2;
  line-height: 45px;
  position: relative;
}

.header__phone {
  padding-left: 20px;
  padding-right: 30px;
}

.header__phone::before {
  content: "";
  font-family: "icomoon";
  position: absolute;
  left: 0;
  color: #ffc222;
}

.header__email {
  padding-left: 24px;
}

.header__email::before {
  font-family: "icomoon";
  content: "";
  position: absolute;
  left: 0;
  color: #ffc222;
}

.header__content {
  padding: 34px 0px 23px;
}

.header__content-inner {
  display: flex;
  justify-content: space-between;
}

.menu li {
  display: inline-block;
}

.menu a {
  font-size: 16px;
  line-height: 36px;
  color: #323232;
  border: 1px solid transparent;
  padding: 0px 16px;
}

.menu a:hover {
  border-color: #ffc222;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

li + li {
  padding-left: 10px;
}

#modal {
  display: none;
}

.slider {
  background-image: url(../img/slider-fon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  color: #fff;
}

.slider__item-content {
  text-align: center;
  padding-top: 110px;
  max-width: 665px;
  margin: 0 auto;
}

.slider__title {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  letter-spacing: 0.05em;
  margin-bottom: 22px;
}

.slider__text {
  font-size: 18px;
  line-height: 24px;
  color: #d3d2d2;
  margin-bottom: 50px;
}

.default-btn {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  padding: 8px 30px 8px 24px;
  color: #fff;
  border: 1px solid #ffc222;
  border-right-width: 20px;
  position: relative;
  z-index: 2;
  outline: none;
}

.default-btn::after {
  outline: none;
  content: "";
  font-family: "icomoon";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -12px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.slider__inner {
  position: relative;
}

.slick-btn {
  position: absolute;
  top: 70%;
  z-index: 3;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  background-color: #ffc222;
}

.slick-btn.slick-disabled {
  background-color: transparent;
  cursor: default;
}

.slick-btn::before {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.slick-next {
  right: 0;
}

.slick-next::before {
  content: "";
  font-family: "icomoon";
}

.slick-prev {
  left: 0;
}

.slick-prev::before {
  content: "";
  font-family: "icomoon";
}

.about {
  padding: 50px 0px 30px;
}

.about__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.about__title-box {
  max-width: 520px;
  padding-left: 140px;
  position: relative;
}

.about__title-box::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: #ffc222;
  left: 0;
  top: 11px;
}

.about-title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  color: #212020;
  margin-bottom: 10px;
}

.about-text {
  font-family: "PT Serif", serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.1px;
  color: #5e5e5e;
}

.about__btn a {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.25px;
  color: #373636;
  padding: 5px 38px;
  border: 3px solid #e6e6e6;
}

.about__items {
  display: flex;
  justify-content: space-between;
}

.about__item {
  max-width: 360px;
  text-align: center;
  padding: 30px 0px 80px;
  position: relative;
  min-height: 375px;
  background-color: #ccc;
}

.about__item-title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #212020;
  padding: 24px 0;
}

.about__item-text {
  font-family: "PT Serif", serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #5e5e5e;
  padding: 0px 30px 30px;
}

.about__item-btn {
  position: absolute;
  bottom: 40px;
}