* {
   box-sizing: border-box;
}

a {
   text-decoration: none;
   display: inline-block;
}

li,
ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

.container {
   max-width: 1170px;
   margin: 0 auto;
   padding: 0 15px;
}

body {
   font-family: "PT Serif", serif;
   font-weight: 400;
   font-size: 14px;
   line-height: 18px;
   color: #5e5e5e;
}

.header {
   font-family: "Roboto", sans-serif;
}

.header__top {
   background-color: #303030;
}

.header__btn {
   float: right;
   font-size: 16px;
   line-height: 36px;
   font-weight: 400;
   color: #1b1b1b;
   background-color: #ffc222;
   padding: 5px 20px 4px 50px;
   position: relative;
}

.header__btn::before {
   font-family: "icomoon";
   content: "\f0b1";
   position: absolute;
   left: 22px;
   color: #1b1b1b;
}

.header__contacts::after {
   content: "";
   clear: both;
   display: block;
}

.header__phone,
.header__email {
   line-height: 24px;
   letter-spacing: 0.025px;
   color: #d3d2d2;
   line-height: 45px;
   position: relative;
}

.header__phone {
   padding-left: 20px;
   padding-right: 30px;
}
.header__phone::before {
   content: "\f095";
   font-family: "icomoon";
   position: absolute;
   left: 0;
   color: #ffc222;
}

.header__email {
   padding-left: 24px;
}

.header__email::before {
   font-family: "icomoon";
   content: "\f003";
   position: absolute;
   left: 0;
   color: #ffc222;
}

.header__content {
   padding: 34px 0px 23px;
}

.header__content-inner {
   display: flex;
   justify-content: space-between;
}

.menu li {
   display: inline-block;
}

.menu a {
   font-size: 16px;
   line-height: 36px;
   color: #323232;
   border: 1px solid transparent;
   padding: 0px 16px;
}

.menu a:hover {
   border-color: #ffc222;
   transition: all 0.3s;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   -ms-transition: all 0.3s;
   -o-transition: all 0.3s;
}

li + li {
   padding-left: 10px;
}

#modal {
   display: none;
}

.slider {
   background-image: url(../img/slider-fon.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   min-height: 500px;
   color: #fff;
}

.slider__item-content {
   text-align: center;
   padding-top: 110px;
   max-width: 665px;
   margin: 0 auto;
}

.slider__title {
   text-transform: uppercase;
   font-family: "Roboto", sans-serif;
   font-size: 30px;
   line-height: 36px;
   font-weight: 500;
   letter-spacing: 0.05em;
   margin-bottom: 22px;
}

.slider__text {
   font-size: 18px;
   line-height: 24px;
   color: #d3d2d2;
   margin-bottom: 50px;
}

.default-btn {
   display: inline-block;
   font-family: "Roboto", sans-serif;
   font-size: 14px;
   line-height: 24px;
   font-weight: 500;
   padding: 8px 30px 8px 24px;
   color: #fff;
   border: 1px solid #ffc222;
   border-right-width: 20px;
   position: relative;
   z-index: 2;
   outline: none;
}

.default-btn::after {
   outline: none;
   content: "\f105";
   font-family: "icomoon";
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   right: -12px;
   -webkit-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   -o-transform: translateY(-50%);
}
.slider__inner {
   position: relative;
}

.slick-btn {
   position: absolute;
   top: 70%;
   z-index: 3;
   width: 40px;
   height: 40px;
   border: 1px solid #fff;
   background-color: transparent;
   cursor: pointer;
   outline: none;
   background-color: #ffc222;
}

.slick-btn.slick-disabled {
   background-color: transparent;
   cursor: default;
}

.slick-btn::before {
   position: absolute;
   color: #fff;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
}

.slick-next {
   right: 0;
}
.slick-next::before {
   content: "\f105";
   font-family: "icomoon";
}

.slick-prev {
   left: 0;
}

.slick-prev::before {
   content: "\f104";
   font-family: "icomoon";
}

.services {
   padding: 50px 0px 30px;
}

.services__top,
.news__top {
   display: flex;
   justify-content: space-between;
   margin-bottom: 60px;
}

.services__title-box,
.form__title-box,
.news__title-box {
   max-width: 520px;
   padding-left: 140px;
   position: relative;
}

.services__title-box::before,
.form__title-box::before,
.news__title-box::before {
   content: "";
   position: absolute;
   width: 100px;
   height: 2px;
   background-color: #ffc222;
   left: 0;
   top: 11px;
}

.services__title,
.form__title,
.news__title {
   font-family: "Roboto", sans-serif;
   font-size: 24px;
   line-height: 24px;
   font-weight: 500;
   color: #212020;
   margin-bottom: 10px;
}
.services__text,
.form__text,
.news__text {
   letter-spacing: 0.1px;
}

.services__btn a,
.news__btn a {
   font-family: "Roboto", sans-serif;
   font-size: 14px;
   line-height: 24px;
   font-weight: 400;
   letter-spacing: 0.25px;
   color: #373636;
   padding: 5px 38px;
   border: 3px solid #e6e6e6;
}

.services__items {
   display: flex;
   justify-content: space-between;
}

.services__item {
   max-width: 360px;
   text-align: center;
   padding: 30px 0px 80px;
   position: relative;
   min-height: 375px;
   background-color: #f9f9f9;
   box-shadow: 0px 7px 24px 3px rgba(91, 89, 89, 0.14);
}

.services__item-title {
   font-family: "Roboto", sans-serif;
   font-size: 18px;
   line-height: 24px;
   font-weight: 500;
   color: #212020;
   padding: 24px 0;
}
.services__item-text {
   font-family: "PT Serif", serif;
   font-size: 14px;
   line-height: 18px;
   font-weight: 400;
   letter-spacing: 0.01em;
   color: #5e5e5e;
   padding: 0px 30px 30px;
}

.services__item-btn {
   position: absolute;
   bottom: 40px;
   left: 0;
   right: 0;
}

.services__item-btn .default-btn {
   font-family: "Roboto", sans-serif;
   font-size: 14px;
   line-height: 24px;
   font-weight: 500;
   letter-spacing: 0.025em;
   color: #373636;
}

.services__item-btn .default-btn::after {
   color: #fff;
}

.services__item-link {
   font-family: "Roboto", sans-serif;
   border-bottom: 1px solid #050505;
   color: #050505;
   margin-right: 60px;
}

.about {
   background-image: url(../img/about-fon.jpg);
   background-size: cover;
   background-position: center;
   min-height: 300px;
   background-repeat: no-repeat;
   padding: 25px 0px 45px;
}
.about__inner {
   max-width: 545px;
}

.about__title {
   font-family: "Roboto", sans-serif;
   font-size: 24px;
   line-height: 24px;
   font-weight: 500;
   color: #ffffff;
   padding: 10px 0px 25px;
}
.about__text {
   font-family: "PT Serif", serif;
   font-size: 14px;
   line-height: 24px;
   font-weight: 400;
   letter-spacing: 0.1px;
   color: #d3d2d2;
   margin-bottom: 30px;
}
.about__btn.default-btn {
   font-family: "Roboto", sans-serif;
   font-size: 14px;
   line-height: 24px;
   font-weight: 500;
   letter-spacing: 0.25px;
   color: #ffffff;
}

.about__btn.default-btn::after {
   color: #000;
}

.form {
   padding-top: 30px;
}
.form__inner {
   padding-bottom: 40px;
   background-image: url(../img/form-fon.png);
   min-height: 460px;
   background-repeat: no-repeat;
   background-position: bottom right;
}

.form__box {
   max-width: 850px;
   padding-top: 45px;
}

.form__box-inner {
   display: flex;
   justify-content: space-between;
}

.form__box-left {
   max-width: 260px;
   width: 100%;
}

.form__box-right {
   max-width: 555px;
   width: 100%;
}

.form__box-inner label,
.form__box-inner input,
.form__box-inner textarea {
   display: block;
   width: 100%;
}

.form__box-inner label {
   font-family: "Roboto", sans-serif;
   line-height: 36px;
   color: #282828;
}

.form__box-inner input {
   margin-bottom: 8px;
   outline: none;
   height: 40px;
   border: 1px solid #e6e6e6;
   padding: 0px 10px;
}
.form__box-inner select {
   outline: none;
   padding-left: 17px;
}

.form__box-inner .jq-selectbox.jqselect {
   display: block;
   width: 100%;
}

.form__box-inner .jq-selectbox__select {
   height: 40px;
   border: 1px solid #e6e6e6;
   padding-left: 17px;
}

.form__box-inner .jq-selectbox__trigger-arrow::before {
   content: "\f105";
   font-family: "icomoon";
   position: absolute;
   right: 17px;
   top: 0;
   transform: rotate(90deg);
   -webkit-transform: rotate(90deg);
   -moz-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
   -o-transform: rotate(90deg);
}

.form__box-inner .jq-selectbox__dropdown {
   width: 100%;
   margin: 2px 0 0;
   padding: 0;
   border: 1px solid #e6e6e6;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.form__box-inner .jq-selectbox li {
   min-height: 18px;
   padding: 5px 17px 6px;
   color: #231f20;
}
.form__box-inner .jq-selectbox li.selected {
   background-color: #a3abb1;
   color: #fff;
}
.form__box-inner .jq-selectbox li:hover {
   background-color: #08c;
   color: #fff;
}
.form__box-inner .jq-selectbox li.disabled {
   color: #aaa;
}
.form__box-inner .jq-selectbox li.disabled:hover {
   background: none;
}
.form__box-inner .jq-selectbox li.optgroup {
   font-weight: bold;
}
.form__box-inner .jq-selectbox li.optgroup:hover {
   background: none;
   color: #231f20;
   cursor: default;
}
.form__box-inner .jq-selectbox li.option {
   padding-left: 25px;
}

.form__box-inner textarea {
   outline: none;
   border: 1px solid #e6e6e6;
   padding: 10px;
   height: 207px;
   resize: none;
   margin-bottom: 40px;
}

.form__box-inner button {
   background-color: transparent;
   color: #282828;
   float: right;
}

.advantages {
   padding: 55px 0px 40px;
   background-image: url(../img/adv-fon.jpg);
   background-repeat: no-repeat;
   background-position: center;
   min-height: 285px;
   background-size: cover;
   .container {
      .advantages__inner {
         color: #fff;
         display: flex;
         justify-content: space-between;
         text-align: center;
         .advantages__item {
            max-width: 360px;
            padding: 0px 20px;
         }
         .advantages__title {
            font-family: "Roboto", sans-serif;
            font-size: 18px;
            line-height: 24px;
            font-weight: 500;
            padding: 60px 0px 15px;
            position: relative;
         }
         .advantages__title::before {
            content: "";
            position: absolute;
            width: 40px;
            height: 40px;
            border: 2px solid #ffc222;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
         }
         .advantages__title::after {
            content: "\f00c";
            font-family: "icomoon";
            font-size: 14px;
            position: absolute;
            top: 9px;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
         }
         .advantages__text {
            line-height: 24px;
            letter-spacing: 0.1px;
            color: #d3d2d2;
         }
      }
   }
}

.news {
   padding: 55px 0px 110px;
   background-color: #f9f9f9;
}

.news__inner {
   display: flex;
   justify-content: space-between;
}

.news___slider {
   max-width: 555px;
   width: 100%;
   background-color: #fff;
   box-shadow: 0px 5px 15px 1px rgba(128, 127, 127, 0.12);
   padding: 60px 35px 45px 70px;
   position: relative;
}

.news___slider::before {
   content: "\f10e";
   font-family: "icomoon";
   position: absolute;
   top: 0;
   left: 70px;
   color: #fff;
   font-size: 16px;
   width: 65px;
   height: 30px;
   text-align: center;
   line-height: 30px;
   background-color: #ffc222;
}

.news__blog {
   max-width: 260px;
   width: 100%;
}

.news__images {
   position: relative;
}

.news__date {
   position: absolute;
   background-color: #ffc222;
   height: 55px;
   width: 50px;
   color: #fff;
   text-align: center;
   padding-top: 30px;
   font-weight: 700;
   top: 0;
   left: 10px;
}

.news__blog-title {
   font-family: "Roboto", sans-serif;
   font-size: 16px;
   font-weight: 500;
   letter-spacing: 0.5px;
   color: #242424;
   padding: 12px 0;
}

.news__blog-text {
   letter-spacing: 0.1px;
   color: #5e5e5e;
}

.news__slider-title {
   font-family: "Roboto", sans-serif;
   font-size: 18px;
   line-height: 24px;
   font-weight: 500;
   letter-spacing: 0.5px;
   color: #242424;
   margin-bottom: 15px;
}
.news__slider-text {
   margin-bottom: 30px;
}
.news__slider-author {
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   letter-spacing: 0.1px;
   color: #212020;
}

.news__slider-inner .slick-btn {
   top: auto;
   bottom: -110px;
}

.news__slider-inner .slick-next {
   right: -35px;
}
.news__slider-inner .slick-prev {
   right: 20px;
   left: auto;
}

.news__slider-inner .slick-disabled {
   background-color: #dadada;
}

.news__slider-inner .slick-disabled::before {
   color: #dadada;
}
